@import '~carbon-components/scss/globals/scss/styles';

@import '~@carbon/themes/scss/themes';

// Use the gray 10 theme
$carbon--theme: $carbon--theme--white;
@include carbon--theme();


// import Carbon styles here
@import 'carbon-components/scss/globals/scss/styles.scss';
